/* XL Device :1200px. 1170 */
@media screen and (max-width: 768px){
	
}
/* LG Device :992px. 970px */
@media (min-width: 992px) and (max-width: 1200px) {

}


/* MD Device :768px. 750px */
@media (min-width: 768px) and (max-width: 991px) {
nav ul li {
	display: inline-block;
	padding: 10px 12px;
}
.about_bg::before {
	display: none;
}
.menu_content {
	padding-left: 120px;
}
.menu_content h4, .menu_content h4 span {
	font-size: 20px;
}
.menu_content p {
	letter-spacing: 0px;
}
.discount_item p {
	font-size: 25px;
}
.discount_item h1 {
	font-size: 40px;
}
#contact::before {
	display: none;
}
footer .logo a img {
	display: none;
}
}


/* Mobile Layout: 320px. 300px */
@media only screen and (max-width: 767px) { 
header{
	display: none;
}

.slicknav_menu {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
}
#home {
	width: 100%;
	height: 50vh;
}
.home_content p {
	font-size: 27px;
}
.home_content h2, .others_home h2 {
	font-size: 29px;
	font-weight: 800;
	color: #fbc531;
	text-transform: uppercase;
}
.btn.btn-danger {
	padding: 10px 20px;
	font-size: 15px;
}
.page_title {
	padding: 10px 0px;
}
.page_title p, .discount_item p {
	font-size: 20px;
}
.page_title h1 {
	font-size: 30px;
}
.about_bg::before {
	display: none;
}
.single_menu img {
	height: 110px;
}
.menu_content {
	padding-left: 110px;
}
.menu_content h4, .menu_content h4 span {
	font-size: 20px;
}
.menu_content p {
	font-size: 13px;
	letter-spacing: 0px;
}
.discount_item h1 {
	font-size: 33px;
	color: #fff;
	text-transform: capitalize;
}
.special_item {
	margin-right: 0;
	padding: 15px;
}
#customer .page_title h1 {
	font-size: 29px;
}
#customer .page_title p {
	font-size: 16px;
}
#contact::before {
	display: none;
}
.contact_footer_content h1 {
	font-size: 40px;
}
.contact_footer_contact p span {
	font-size: 16px;
}
.contact_footer_contact p a {
	font-size: 14px;
}
footer .logo a img {
	display: none;
}
#main_footer {
	text-align: center;
}
.copyright p {
	float: none;
}
}
/* Wide Mobile Layout: 480px. 450px */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.menu_content {
	padding-left: 175px;
}
	
}




