/* XL Device :1200px. 1170 */
@media screen and (max-width: 768px){
	
}
/* LG Device :992px. 970px */
@media (min-width: 992px) and (max-width: 1200px) {

}


/* MD Device :768px. 750px */
@media (min-width: 768px) and (max-width: 991px) {

}


/* Mobile Layout: 320px. 300px */
@media only screen and (max-width: 767px) { 
header{
	display: none;
}

.slicknav_menu {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
}

}
/* Wide Mobile Layout: 480px. 450px */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

	
}




